# ==================================================
# Spring Boot / Maven
# ==================================================

HELP.md
target/
.mvn/wrapper/maven-wrapper.jar


# ==================================================
# Variables de entorno / secretos
# ==================================================

.env
.env.*
!.env.example


# ==================================================
# IntelliJ IDEA
# ==================================================

.idea/
*.iws
*.iml
*.ipr


# ==================================================
# Eclipse / STS
# ==================================================

.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache
.apt_generated/


# ==================================================
# NetBeans
# ==================================================

/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/


# ==================================================
# VS Code
# ==================================================

.vscode/


# ==================================================
# Build tools
# ==================================================

build/


# ==================================================
# Sistema operativo
# ==================================================

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes